@using ShoppingApp.Models.Dtos
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ProductDto>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Ürün Görseli</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Ürün Kategori</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int row = 0;
        }
        @foreach (var item in Model)
        {
            row++;
            <tr>
                <td>@row</td>
                <td><img src="@item.FileBase64String" style="width:50px;height:50px;" /></td>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td><a href="/Product/Edit/@item.Id">Değiştir</a></td>
                <td><a href="/Product/DeleteProduct/@item.Id">Sil</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Product/Add" class="btn btn-info">Ürün Ekle</a>